
@model VixEng.Entities.Funcionarios

<div id="beneficiosForm">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2-2-3" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Benefícios Cadastrados</h2>
        </header>
        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Benefício</th>
                                <th>Observação</th>
                                <td>Ações</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Beneficios)
                        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tipo_Beneficio.descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.observacao)
                                    </td>
                                    <td>
                                        Excluir
                                    </td>
                                </tr>
                        }
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
    <!-- end widget -->
    <div>
            <!-- form de Criar Beneficio -->
            @*@using (Html.BeginForm("CreateBeneficio", "Funcionarios", FormMethod.Post, new { @class = "smart-form" }))*@
            @using (Ajax.BeginForm("CadastrarBeneficio", "Funcionarios",
                new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                UpdateTargetId = "beneficiosForm",
            }, new { @class = "smart-form" }))
            {
                @Html.AntiForgeryToken()

                <header>
                    Cadastrar Benefício
                </header>
                <fieldset>
                    <div class="row">
                        @{var codigoFuncionario = Model.id;}
                        <input class="hidden" id="id_funcionario" name="id_funcionario" value="@codigoFuncionario" />

                        <section class="col col-6">
                            <label class="label">Tipo do Beneficio</label>
                            @Html.DropDownList("id_tipo_beneficio", null, htmlAttributes: new { @class = "form-control" })
                        </section>
                        <section class="col col-6"></section>
                    </div>
                    <section>
                        <label class="label">Descrição</label>
                        <label class="textarea">
                            <i class="icon-append fa fa-comment"></i>
                            <input class="form-control text-box single-line" id="observacao" name="observacao" type="text" style="text-transform:uppercase" placeholder="Descrição" value="" />
                        </label>
                    </section>
                </fieldset>
                                        <footer>
                                            <button type="submit" class="btn btn-primary">
                                                Salvar
                                            </button>
                                        </footer>
                            }<!-- fim form de Criar Documento -->
    </div>
</div>                     