@model VixEng.Entities.Funcionarios

<!-- Layout Funcionarios -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Funcionários
                <span>
                    >
                    Visualizando Funcionário
                </span>
            </h1>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget" id="wid-id-11" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                <h2>Informações Pessoais </h2>

                <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                    <li class="active">
                        <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Informações </span> </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> Documentos </span></a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#hr3"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> Usuário </span></a>
                    </li>

                </ul>

            </header>

            <!-- widget div-->
            <div>

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->

                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body no-padding">

                    <!-- widget body text-->

                    <div class="tab-content padding-10">

                        <div class="tab-pane fade in active" id="hr1">
                            <!-- Conteúdo da tab 1 -->
                            <!-- Código do entity framework -->

                            @using (Html.BeginForm("Create", "Funcionarios", FormMethod.Post,
            new { @class = "smart-form" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row text-center">
                                    <span class="onoffswitch-title"><i class="fa fa-user"></i> Usuário do sistema?</span>
                                    <span class="onoffswitch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-tabs">
                                        <label class="onoffswitch-label" for="show-tabs">
                                            <span class="onoffswitch-inner" data-swchon-text="Sim" data-swchoff-text="Não"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </span>
                                </div>
                                <div class="form-horizontal">


                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">Nome</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-user"></i>
                                                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Nome" } })
                                                    @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label">Data de Nascimento</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-calendar"></i>
                                                    @Html.EditorFor(model => model.data_nascimento, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", type = "date", placeholder = "Data de Nascimento" } })
                                                    @Html.ValidationMessageFor(model => model.data_nascimento, "", new { @class = "text-danger" })
                                                </label>
                                            </section>

                                        </div>

                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">Telefone</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-phone"></i>
                                                    @*<input type="tel" name="phone" placeholder="Telefone" data-mask="(99) 9999-9999">*@
                                                    @Html.EditorFor(model => model.telefone1, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Telefone" } })
                                                    @Html.ValidationMessageFor(model => model.telefone1, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label">Telefone</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-phone"></i>
                                                    @*<input type="tel" name="phone2" placeholder="Telefone" data-mask="(99) 99999-9999">*@
                                                    @Html.EditorFor(model => model.telefone2, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Telefone" } })
                                                    @Html.ValidationMessageFor(model => model.telefone2, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">Telefone</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-phone"></i>
                                                    @*<input type="tel" name="phone3" placeholder="Telefone" data-mask="(99) 99999-9999">*@
                                                    @Html.EditorFor(model => model.telefone3, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Telefone" } })
                                                    @Html.ValidationMessageFor(model => model.telefone3, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label">Email</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-envelope-o"></i>
                                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">CPF</label>
                                                <label class="input">
                                                    @*<input type="tel" name="cpf" placeholder="CPF" >*@
                                                    @Html.EditorFor(model => model.cpf, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "CPF" } })
                                                    @Html.ValidationMessageFor(model => model.cpf, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label">RG</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.rg, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "RG" } })
                                                    @Html.ValidationMessageFor(model => model.rg, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">Orgão Expedidor</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.rg_exp, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Orgão Expedidor" } })
                                                    @Html.ValidationMessageFor(model => model.rg_exp, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label">Data de Emissão</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-calendar"></i>
                                                    @*<input type="date" name="rgdataemissao" id="rgdataemissao" placeholder="Data de Expedição">*@
                                                    @Html.EditorFor(model => model.rg_data_emissao, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Data de Expedição", type = "date" } })
                                                    @Html.ValidationMessageFor(model => model.rg_data_emissao, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <section>
                                            <label class="label">Endereço</label>
                                            <label for="address2" class="input">
                                                @Html.EditorFor(model => model.endereco, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.endereco, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        <div class="row">
                                            <section class="col col-2">
                                                <label class="label">Número</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", type = "tel" } })
                                                    @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">Complemento</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.complemento, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.complemento, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label">Bairro</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.bairro, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label">CEP</label>
                                                <label class="input">
                                                    @*<input type="tel" name="cep" placeholder="CEP" data-mask="99.999-999">*@
                                                    @Html.EditorFor(model => model.cep, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "CEP", type = "tel" } })
                                                    @Html.ValidationMessageFor(model => model.cep, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Cidade</label>
                                                <label class="input">
                                                    @*@Html.DropDownList("id_cidade", null, htmlAttributes: new { @readonly = "readonly",  @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.id_cidade, "Cidade", new { @class = "text-danger" })*@
                                                    @Html.DisplayFor(model => model.Cidades.cidade)
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">Banco</label>
                                                <label class="input">
                                                    @Html.DisplayFor(model => model.Bancos.Banco)
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label class="label">Agência</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.agencia, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Agência", type = "tel" } })
                                                    @Html.ValidationMessageFor(model => model.agencia, "", new { @class = "text-danger" })
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label class="label">Conta</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.conta, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Conta", type = "tel" } })
                                                    @Html.ValidationMessageFor(model => model.conta, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">Salário</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.salario, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Salário", type = "tel" } })
                                                    @Html.ValidationMessageFor(model => model.salario, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Data de Admissão</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.data_admissao, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", type = "date", placeholder = "Data de Admissão" } })
                                                    @Html.ValidationMessageFor(model => model.data_admissao, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Cargo</label>
                                                <label class="input">
                                                    @Html.DisplayFor(model => model.Cargos.descricao)
                                                </label>
                                            </section>

                                            <section class="col col-3">
                                                <label class="label">Status</label>
                                                <label class="input">
                                                    @Html.EditorFor(model => model.status, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", placeholder = "Status?" } })
                                                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>

                                        <section>
                                            <div class="input input-file">
                                                <label class="label">Foto</label>
                                                @*<span class="button"><input id="foto" type="file" name="foto" onchange="this.parentNode.nextSibling.value = this.value">Upload</span><input type="text" placeholder="Foto" readonly="">*@
                                                @Html.EditorFor(model => model.foto, new { htmlAttributes = new { @readonly = "readonly",  @class = "form-control", type = "file" } })
                                                @Html.ValidationMessageFor(model => model.foto, "", new { @class = "text-danger" })
                                            </div>
                                        </section>


                                        <div class="row text-right">

                                        </div>

                                    </fieldset>
                                </div>

                            }
                            <!-- fim Conteúdo da tab 1 -->
                        </div>
                        <div class="tab-pane fade" id="hr2">
                            <!-- Conteúdo da tab 2 -->
                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <form id="order-form" class="smart-form" novalidate="novalidate">
                                    <header>
                                        Documentos
                                    </header>

                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="select">
                                                    <select name="budget">
                                                        <option value="0" selected="" disabled="">Tipo de Documento</option>
                                                        <option value="1">RG</option>
                                                        <option value="2">CPF</option>
                                                        <option value="3">CHN</option>
                                                        <option value="4">Comprovante de Residência</option>
                                                    </select> <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" name="startdate" id="startdate" placeholder="Data">
                                                </label>
                                            </section>
                                        </div>

                                        <section>
                                            <div class="input input-file">
                                                <span class="button"><input id="file2" type="file" name="file2" onchange="this.parentNode.nextSibling.value = this.value">Upload</span><input type="text" placeholder="Adicione o Arquivo" readonly="">
                                            </div>
                                        </section>

                                        <section>
                                            <label class="textarea">
                                                <i class="icon-append fa fa-comment"></i>
                                                <textarea rows="5" name="comment" placeholder="Descrição"></textarea>
                                            </label>
                                        </section>
                                    </fieldset>
                                </form>

                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->
                            <!-- fim Conteúdo da tab  -->
                        </div>
                        <div class="tab-pane fade" id="hr3">
                            <!-- Conteúdo da tab 3 -->
                            <form action="@Url.Action("registerViaFuncionario", "account")" method="POST" id="smart-form-register" class="smart-form client-form">
                                <header>
                                    Registro de usuário
                                </header>
                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="username" placeholder="Username" id="username" autocomplete="off" @*value="@Model.AspNetUsers.UserName"*@>
                                                @Html.DisplayFor(model => model.AspNetUsers.Email)
                                                <b class="tooltip tooltip-bottom-right">(Optional) Used to display the profile name on the website</b>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            @*@Html.DropDownList("id_user", null, htmlAttributes: new { @readonly = "readonly",  @class = "form-control" })*@
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                <input type="email" name="email" placeholder="Email address" id="email" autocomplete="off" @*value="@Model.AspNetUsers.Email"*@>
                                                <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-envelope"></i>
                                                <input type="email" name="emailConfirm" placeholder="Confirm email address" autocomplete="off" @*value="@Model.EmailConfirm"*@>
                                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="password" placeholder="Password" id="password" autocomplete="off">
                                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="passwordConfirm" placeholder="Confirm password" autocomplete="off">
                                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                            </label>
                                        </section>
                                    </div>

                                </fieldset>
                                <div class="message">
                                    <i class="fa fa-check"></i>
                                    <p>
                                        Thank you for your registration!
                                    </p>
                                </div>
                            </form>
                            <!-- fim Conteúdo da tab 3 -->
                        </div>

                    </div>

                    <!-- end widget body text-->
                    <!-- widget footer -->
                    <!-- end widget footer -->

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->


    </section>
    <!-- end widget grid -->

</div>
<!-- FIM Layout Funcionarios -->
<!--CODIGO ENTITYFRAMEWORK-->
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<!-- FIM CODIGO ENTITYFRAMEWORK-->

@section pagespecific {
    <script type="text/javascript">
          
    </script>
}
